@charset "ISO-8859-1";

body {
	background: linear-gradient(0deg, rgba(34, 195, 185, 1) 34%,
		rgba(135, 152, 171, 1) 50%);
	font-family: Segoe UI, Arial, Times;
	font-size: 14pt;
}

.container {
	width: 40%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 8rem;
}

.form {
	width: 30rem;
	margin: auto;
	background-color: rgb(235, 235, 235);
	padding: 4rem 1rem;
	border-radius: 1rem;
}

.campo {
	align-items: center;
	justify-content: center;
	display: flex;
	float: right;
}

h1 {
	width: 100%;
	text-align: center;
}

label {
	height: 2rem;
	size: 12px;
	float: left;
}

.senha {
	align-items: center;
	justify-content: center;
	display: flex;
	float: right;
}

.logar {
	align-items: center;
	justify-content: center;
	display: flex;
	float: right;
}

input {
	font-family: Segoe UI, Arial, Times;
	font-size: 18pt;
	width: 400px;
	margin-top: 1rem;
}

input[type=submit] {
	font-weight: bold;
	padding: 2px 12px;
	margin-top: 1rem;
	width: 250px;
	margin-left: -189px;
}

.campo a {
	padding-right: 60px;
	float: right;
	margin-top: 5rem;
}

.main {
	min-height: 500px
}

/*estilo do cabeçalho do roadape*/
.rodape {
	margin: 5px;
	border-top: 2px solid gray;
}

.cabecalho {
	border-bottom: 2px solid gray;
	min-height: 80px;
}

.cabecalho a {
	text-decoration: none;
}

.cabecalho .logo {
	float: left;
	
}

.cabecalho .logo img {

	width: 10%;
	padding: 10px;
}

.cabecalho a:hover {
	text-decoration: underline;
}

.cabecalho ul, .cabecalho ol {
	float: right;
	list-style: none;
	padding: 10px;
}

.cabecalho li {
	float: left;
	margin: 0px 4px;
	padding-right: 5px;
	border-right: 1px solid gray;	
}

