@charset "ISO-8859-1";

body {
	background: linear-gradient(90deg, rgba(200,227,228,1) 0%, rgba(163,161,201,1) 72%);
	font-family: Segoe UI, Arial, Times;
	font-size: 16pt;
}

input[type=text], input[type=password] {
	width: 340px;
	font-size: 12pt;
	
} 

input[type=submit] {
	width: 260px;
	font-weight: bold;
	padding: 2px 10px;
	margin-top: 2rem;
}

fieldset#fieldset_login {
	margin: auto;
	width: 280px;
	padding: 50px;
	color: green;
	font-weight: bold;
	size: 16pt;
}

.label {
	float: left;
	text-align: right;
	line-height: 1.9rem;
	padding-right: 4px;
	padding: 2px 10px;
	
}
.campo input {
	float: right;
	padding: 2px 10px;
	font-size: 14pt;
	
}

.campo a {
	padding-right: 60px;
	float: right;
	margin-top: 3rem;
}

.main {
	min-height: 480px;
	color: white;
	clear: both;
	
}

/*estilo do cabeçalho do roadape*/
.rodape {
	margin: 5px;
	border-top: 2px solid gray;
	float: left;
	opacity: 0.5;
}

.cabecalho {
	border-bottom: 2px solid gray;
	min-height: 60px;
}

.cabecalho a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	
}

.cabecalho .logo {
	float: left;
	
}

.cabecalho .logo img {

	width: 10%;
	padding: 10px;
}

.cabecalho a:hover {
	text-decoration: underline;
}

.cabecalho ul, .cabecalho ol {
	float: right;
	list-style: none;
	padding: 10px;
}

.cabecalho li {
	float: left;
	margin: 0px 4px;
	padding-right: 5px;
	border-right: 1px solid gray;	
}

.boasVindas {
	float: right;
	clear: both;
	font-style: italic;
	
}
/*fim do css do cabecalho e rodape*/

.erroDiv {
	min-height: 25px;
	border: 1px solid red;
	width: auto;
	padding: 10px;
	font-weight: bold;
	color: red;
	opacity: 0.4;
}
